.father {
    width: 399px;
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid red;
}

#son {
    width: 0px;
    height: 30px;
    background-color: rgb(255, 123, 123);
    text-align: center;
    line-height: 30px;
}